{
    "METADATA": {
        "NAME": "JavascriptInterfaceAnnotation"
    },
    "CODEPARAMS": {
        "SEARCH": {
            "SEARCHFORANNOTATION": {
                "STRING": "Landroid/webkit/JavascriptInterface;",
                "RETURN": "<method> AS @getIntent"
            }
        }
    },
    "GRAPH": "@getIntent WITH <method>:<desc>:<class> AS attribute=nodename"
}
