{
    "METADATA": {
        "NAME": "normalPermissions"
    },    
    "MANIFESTPARAMS": {
        "BASEPATH": "manifest->permission",
        "SEARCHPATH": {
            "LOOKFOR": {
                "TAGVALUEMATCH": "<NAMESPACE>:protectionLevel=0x00000000"
            },
            "RETURN": "<NAMESPACE>:name AS @normalPermissions"
        }
    },
    "GRAPH": "@normalPermissions WITH <method>:<desc>:<class> AS attribute=nodename"
}