{
    "METADATA": {
        "NAME": "intentfilter"
    },    
    "MANIFESTPARAMS": {
        "BASEPATH": "manifest->application->activity OR manifest->application->activity-alias",
        "SEARCHPATH": {
            "intent-filter": {
                "LOOKFOR" : {
                    "TAGNOTEXISTS": "wabbajack"
                }
            }
        },
        "RETURN": ["<smali>:<NAMESPACE>:name AS @activity_name"]
    },
    "GRAPH": "@activity_name WITH <method>:<desc>:<class> AS attribute=nodename"
}